body {
    color: #ffffff;
    font-family:Monospace,serif;
    font-size:13px;
    text-align:center;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    background: radial-gradient(ellipse at center,  #022D52 0%,#122335 40%,#000d19 100%);
}